Add RFC 9557 (IXDTF) time zone extension to RFC 3339

[RFC 9557](https://datatracker.ietf.org/doc/html/rfc9557) from April 2024 updates RFC 3339 with optional time zone information suffixes inspired by [Java's ISO Zoned Date Time](https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html#ISO_ZONED_DATE_TIME). If I remember correctly (but maybe I'm not), ISO 8601-2 also covers this, so it would only make sense to add one if also the other.

IANA time zone names are put in square brackets verbatim, e.g. `[Europe/Berlin]`, which is disregarded if it mismatches the time zone offset. All other information is put inside square brackets as key value pairs with an equals sign between, `[foo=bar]`. The only predefined – rather opaque – key is `u-ca` for the preferred calendar the datetime should be presented in.

The RFC recommends to use `Z` instead of `-00:00` (without actually deprecating the latter) and distinguishes its meaning from `+00:00`:

> [Section 4.3](https://rfc-editor.org/rfc/rfc3339#section-4.3) of [[RFC3339](https://datatracker.ietf.org/doc/html/rfc3339)] is revised to read as follows:
>> If the time in UTC is known, but the offset to local time is unknown, this can be represented with an offset of "Z". (The original version of this specification provided -00:00 for this purpose, which is not allowed by [[ISO8601:2000](https://www.iso.org/standard/26780.html)] and therefore is less interoperable; [Section 3.3](https://rfc-editor.org/rfc/rfc5322#section-3.3) of [[RFC5322](https://datatracker.ietf.org/doc/html/rfc5322)] describes a related convention for email, which does not have this problem). This differs semantically from an offset of +00:00, which implies that UTC is the preferred reference point for the specified time.

I don't know why they keep referencing ISO 8601:2000 instead of ISO 8601-1:2019.

RFC 9557 does reference various versions of ISO 8601, including 8601-1:2019. With incompatibilities between different 8601 versions what should they do other than referencing specific versions?

The whole idea of a date/time standard changing the format with a new revision in a way that makes previous date/times following that standard violate the standard but still calling it the same standard seems silly at best. The format's been used in data and software already. Even if the software can be updated, and that's not a given, it would still have to be able to use the previous revision's format because it would have to be able to handle data using it.

With the IETF being very open, you can read the discussion about it in their mailing list archives: https://mailarchive.ietf.org/arch/browse/sedate/?q=rfc9557%20OR%20%22draft-ietf-sedate-datetime-extended%22%208601